.selector {
  height: 100%;
  position: absolute;
  width: 20px;
  left: 0px;
  z-index: 1;
  background-color: #FCE6DD;
  opacity: 0.5;
  border: solid 1px #FDBA9C;
  border-radius: 5px;
  cursor: pointer;
}